@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Great+Vibes&family=Hind:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Nanum Gothic', sans-serif;
}

.navbar {
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: rgba(128, 0, 128, 0.699);
    border-radius: 0px 0px 40px 40px;
    height: auto;
    z-index: 10;
}

.navbar .navbar_content {
    padding: 1rem ;
}

.navbar .navbar_content .navbar_links li {
    display: inline-block;
    margin-left: 40px;
}

.navbar .navbar_content .navbar_links a {
    padding: 1rem;
}

.navbar .navbar_content .navbar_links a:hover {
    color: gray;
}

a:visited, a:link{
    color: white;
    text-decoration: none;
}

.navbar .navbar_content .navbar_links li button {
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
    padding: 5px;
    width: 100%;
    height: 50px;
}

.navbar .navbar_content .navbar_links li span {
    color: white;
    background-color: transparent;
    font-weight: bolder;
    font-size: larger;
    padding: 5px;
    width: 100%;
    height: 50px;
}

.navbar .navbar_content .navbar_links li input {
    color: gray;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    padding: 5px;
    width: 100%;
}

section#form{
    max-width: 46rem;
    margin: 0 auto 6rem;
}

section#form .form_content h2{
    margin-bottom: 3.5px;
}

.skills {
    background-color: rgba(0, 247, 255, 0.082);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.11);
    padding: 20px;
    border-radius: 10px;
}

.skill_item {
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.281);
}

section#form .form_content .history .history_item,
section#form .form_content .education .education_item {
    display: inline-block;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

section#form .form_content .history,
section#form .form_content .skills,
section#form .form_content .education{
    margin-bottom: 70px;
}

section#form .form_content .history .history_item2 input {
    margin-left: 40px;
}

#back,#next{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.308);
    margin: 5px;
}

#back {
    border-color: white;
    background-color: white;
}

#next{
    width: 200px;
    height: 40px;
    border-color: rgba(128, 0, 128, 0.699);
    background-color: rgba(128, 0, 128, 0.699);
    font-family: 'Nanum Gothic', sans-serif;
}








