/*Configuração para tablets*/

@media screen and (min-width:768px) and (max-width:992px){
    body,html{
        background-image: linear-gradient(to bottom,#0455BF,#0477BF,#049DD9,#04B2D9,#4BE2F2);
    }
    
    section{
        margin-left: -375px;
        margin-top: -200px;
        width: 750px;
        height: 400px;
    }

    #imagem{
        border-radius: 20px 0px 0px 20px;
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #formulario{
        margin-top: 35px;
        height: 100%;
        width: 330px;
        padding: 18px;
        float: right;
    }
    
    #formulario h1{
        margin-bottom: 15px;
    }
    
    #formulario p{
        margin: 7px;
    }
    
    form>p>input{
        width: 88%;
    }

    .material-symbols-outlined{
        margin-right: 8px;
    }
    
    #sent{
        width: 100%;
    }

    #forgpass{
        width: 308px;
        background-position: 232px 13px;
    }
    
    
}

/*Configuração para desktops e outras telas maiores*/

@media screen and (min-width:992px){
    body,html{
        background-image: linear-gradient(to bottom,#0455BF,#0477BF,#049DD9,#04B2D9,#4BE2F2);
    }

    section{
        margin-left: -450px;
        width: 900px;
        height: 400px;
        margin-top: -200px;
    }

    #imagem{
        float: right;
        border-radius: 0px 20px 20px 0px;
        width: 55%;
        height: 100%;
    }

    #formulario{
        float: left;
        margin-top: 30px;
        height: 300px;
        width: 350px;
        padding: 20px;
    
    }

    #formulario h1{
        text-align: left;
        margin-bottom: 4px;
    }

    #forgpass{
        display: block;
        width: 327px;
        background-position: 235px 9px;
    }

    form>p>input{
        width: 89%;
    }

    #forgpass{
        width: 327px;
        background-position: 240px 13px;
    }
}