/*Configuração para telas pequenas*/

@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Great+Vibes&family=Hind:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body,html{
    width: 100vw;
    height: 100vh;
    background-color: #024059;
}

section{
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -275px;
    width: 300px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.342);
}

#imagem{
    border-radius: 20px 20px 0px 0px;
    background-image: url("../images/backgroundb.jpg");
    background-size: cover;
    width: 300px;
    height: 230px;
}

#formulario{
    padding: 10px;
}

#formulario h1{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#formulario p{
    width: 100%;
    margin-bottom: 10px;
    font-weight: lighter;
    text-align: justify;
}

form>p{
    background-color: #024059;
    display: block;
    width: 100%;
    height: auto;
    margin: 3px;
    border-radius: 10px;
}

form>p>input{
    width: 85%;
    margin-bottom: 5px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #024059;
}

.material-symbols-outlined{
    position: relative;
    left: 3px;
    top: 6px;
}

#sent{
    background-color: #024059a8;
    width: 100%;
    margin: 3px;
    border: 1px solid #02405973;
    padding: 10px;
}

#sent:hover{
    background-color:#024059d3;
}

#forgpass{
    width: 100%;
    margin: 3px;
    border: 1px solid #02405973;
    padding: 10px;
    background-image: url('../images/mail.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 190px 9px;
}

#forgpass:hover{
    background-color: #02405963;
}

