@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Great+Vibes&family=Hind:wght@300;400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: rgb(54, 128, 103);
    margin: 0px;
    padding: 0px;
    background-color: #08A696;
}

section#mainpage {
    width: 1000px;
    height: 600px;
    position: absolute;
    left:50%;
    margin-left:-500px;
    top: 50%;
    margin-top: -300px;
    background-color: white;
    border-radius: 20px;
}

#imageleft{
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 500px;
    height: 600px;
    background-image: url('images/back.jfif');
    border-radius: 20px 0px 0px 20px;
    float: left;
}

p#mainphrase {
    background-color: transparent;
    margin: 0px;
    padding-top: 50%;
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: bolder;
    float: left;
}

#signspace {
    float: right;
    margin: 0px;
    padding: 0px;
    width: 500px;
    height: 600px;
    font-family: 'Quicksand', sans-serif;
}


#things {
    margin:auto;
    padding: 50px;

}

.itemst {
    font-weight: bolder;
    font-size: 25px;
    padding: 0px;
}

.itemss {
    font-size: smaller;
    padding: 0px;
}

#facebook {
    font-family: 'Quicksand', sans-serif;
    border-width: 2px;
    border-style: solid;
    background-color: rgba(15, 47, 153, 0.055);
    border-color: rgba(21, 34, 151, 0.055);
    width: auto;
    height: auto;
}

#imageface {
    float: left; 
    margin: 5px;
}

#google {
    font-family: 'Quicksand', sans-serif;
    border-width: 2px;
    border-style: solid;
    background-color: rgba(179, 17, 17, 0.055);
    border-color: rgba(216, 7, 7, 0.055);
    width: auto;
    height: auto;
}

#imagegoogle{
    margin: 5px;
    float: left;
}

span{
    position: relative;
    top: 4px;
}

#registerb{
    width: 100px;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #D92555;
    background-color: #D92555;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}